{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}

    <div class="cart-content container flex justify-center items-center flex-col">
        <h2>Votre Panier</h2>

        {% if items | length > 0 %}
            <table class="table">
{#                <thead>#}
                    <tr class="border_bottom table-thead">
                        <th class="prod-img"></th>
                        <th class="text-left">Produit(s)</th>
                        <th>Prix</th>
                        <th>Poids</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                   </tr>
{#                </thead>#}
{#                <tbody>#}
                {% for item in items %}
                    <tr>
                        <th class="prod-img" scope="row">
                            <img src="{{ (item.product.imageName ? vich_uploader_asset(item.product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_small') }} "/>
                        </th>
                        <td data-label="Produit:" class="prod-table">{{ item.product.title }}</td>
                        <td data-label="Prix:" class="result">{{ item.product.price }} €</td>
                        <td data-label="Poids:">{{ pluralize(item.product.pound , item.product.units) }}</td>
                        <td data-label="Quantité(s):" class="quantity">
                            <a href="{{ path('app_cart_remove_quantity', {id: item.product.id}) }}"
                               class="btn">
                                <img src="https://img.icons8.com/fluent/20/000000/minus.png"/>
                            </a>
                            {{ item.quantity }}
                            <a href="{{ path('app_cart_add_quantity', {id: item.product.id}) }}" class="btn">
                                <img src="https://img.icons8.com/fluent/20/000000/add.png"/>
                            </a>
                        </td>
                        <td data-label="Total:" class="result">
                            {{ item.product.price * item.quantity }} €
                        </td>
                        <td>
                            <a href="{{ path('app_cart_remove_product', {id: item.product.id}) }}" class="btn">
                                <img class="delete" src="{{ asset('build/images/delete.png') }}"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
{#                </tbody>#}
{#                <tfoot>#}
                <tr class="border_bottom border_top Result result-title">
                    <td colspan="5" class="Result result-title">Total TTC :</td>
                  <td class="result-title">{{ total }} €</td>
                    <td></td>
                </tr>
{#                </tfoot>#}
            </table>
            <div class="row">
                <h3 class="text-center">Vos coordonées:</h3>
                <div class="col-md-10 mx-auto">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.first_name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.last_name) }}
                        </div>
                    </div>
                    {{ form_row(form.address) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.zip) }}
                        </div>
                    </div>
                    {{ form_row(form.phone) }}
                    {{ form_row(form.email) }}
                    <button type="submit">
                        <span>
                            <img src="{{ asset('build/images/btn_envoyer.png') }}" alt="">
                        </span>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>

        {% else %}
            <p>Votre panier est vide <a href="{{ path('app_product') }}">Cliquez ici pour le remplir !</a></p>
        {% endif %}

    </div>

{% endblock %}
