{% extends 'base.html.twig' %}
    {% block title %}
        Contact
    {% endblock %}

{% block body %}
        <h2 class="text-center">Nous contacter</h2>
        {{ form_start(form) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.first_name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.address) }}
    {{ form_row(form.message) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
{% endblock %}


