{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <h2 class="text-center">Notre Galerie photo:</h2>

        <div class="contain">
            {% for gallery in gallerys %}
                <div class="collumn">
                    <div class="item-image">
                        <a href="{{ asset('/uploads/images/'~gallery.title) }}" alt="{{ gallery.alt }}" class="yBox">
                        <img src="{{ asset('/uploads/images/'~gallery.title) | imagine_filter('squared_thumbnail_gallery') }}" alt="{{ gallery.alt }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    <script src="{{ asset('js/directive.js') }}"></script>
    <script src="{{ asset('js/yBox.js') }}"></script>
    <script>
        window.onload = function(){
            if(document.querySelector('.yBox')){
                let myYbox = new yBox();
                myYbox.init();
            };
        }
    </script>
{% endblock %}