{% extends 'base.html.twig' %}

{% block title %}Passer commande{% endblock %}

{% block body %}

    <div class="container my-5" style="overflow: auto; height: 75vh">

        <form method="post" action="{{ path('app_order') }}">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Miniature</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Poids</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                </tr>
                </thead>

                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">
                            <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_small') }} "/>
                        </th>
                        <td>
                            {{ product.title }}
                        </td>
                        <td>
                            {{ product.quantity }}
                        </td>
                        <td>
                            {{ pluralize(product.pound , product.units) }}
                        </td>
                        <td>
                            {{ product.price }} €
                        </td>
                        <td>
                            <input type="number" id="quantity" name="{{ product.id }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row mb-3">
                <div class="col">
{#
                    Todo : Mettre les requires
#}
                    <input type="text" placeholder="Prénom" name="last_name">
                    <input type="text" placeholder="Nom" name="first_name">
                </div>
                <div class="col">
                    <input type="email" placeholder="E-Mail" name="address">
                    <input type="number" placeholder="Numéro de téléphone" name="phone">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">aaaa</button>
        </form>
    </div>

{% endblock %}