{% extends 'base.html.twig' %}
    {% block title %}
        Commande
    {% endblock %}

{% block body %}
        <table>
            {% for category in categories %}
            <thead>
                <td>
                    <th>
                    {{ category.title }}
                    </th>
                </td>
            </thead>
            {% for product in category.products %}
            <tbody>
                <td>
                    <th>
                        <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_small') }} "/>
                    </th>
                    <th>
                        {{ product.title }}
                    </th>
                    <th>
                        {{ product.price }} €
                    </th>
                    <th>
                        {% if product.quantity == 0 %}
                            <span>Produit insdisponible</span>
                        {% elseif app.session.get('panier')[product.id] is not defined %}
                            <a href="{{ path('app_cart_add_product', {id: product.id}) }}" class="js-addcart "><span class="btn btn-success js-disable">Ajouter au pannier</span></a>
                        {% else %}
                            <a href="{{ path('app_cart') }}" class="btn btn-primary">Voir le Panier</a>
                        {% endif %}
                    </th>
                </td>
            </tbody>
            {% endfor %}
            {% endfor %}
        </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/addcart.js') }}"></script>
{% endblock %}


