{% extends 'base.html.twig' %}
    {% block title %}
        Commande
    {% endblock %}

{% block body %}
    <div class="cart-content container">
        <h2 class="text-center txt-commande">Commander en ligne :</h2>
        <div class="flex">
            <p class="text-commande">Bon de Commande:</p>
        </div>
        <div class="flex justify-center items-center flex-col">
            <table class="tableau">
                {% for category in categories %}
                    <tr class="divider">
                        <th>
                            <p class="cat-title">{{ category.title }}</p>
                        </th>
                    </tr>
                    <tr class="mobile">
                        <th></th>
                        <th class="text-left">
                            Produits:
                        </th>
                        <th>
                            Prix:
                        </th>
                        <th>
                            Poids:
                        </th>
                        <th></th>
                    </tr>
                    {% for product in category.products %}
                        <tr class="prod-mobile">
                            <td class="product-img" data-label=>
                                <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_small') }} "/>
                            </td>
                            <td class="prod-title text-left" data-label=Produit:>
                                {{ product.title }}
                            </td>
                            <td class="prod-price" data-label=Prix:>
                                {{ product.price }} €
                            </td>
                            <td class="prod-pound" data-label=poids:>
                                {{ pluralize(product.pound , product.units) }}
                            </td>
                            <td class="prod-ico-pan" data-label=>
                                {% if product.quantity == 0 %}
                                    <span class="none-product">Produit insdisponible</span>
                                {% elseif app.session.get('panier')[product.id] is not defined %}
                                    <a href="{{ path('app_cart_add_product', {id: product.id}) }}" class="js-addcart"><span class="js-disable"><img
                                                    src="{{ asset('build/images/add-cart.png') }}" alt="icone panier" style="width: 35px;"></span></a>
                                {% else %}
                                    <a href="{{ path('app_cart') }}" class="link-panier">Voir le Panier</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/addcart.js') }}"></script>

{% endblock %}


