{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center my-4">{{ product.title }}</h2>
    <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_large') }} "/>
    <p>{{ product.description | raw}}</p>
    <a href="{{ path('app_cart_add_product', {id: product.id}) }}" class="btn btn-success">Ajouter au panier</a>
{% endblock %}

{% block title %}
    {{ product.title }}
{% endblock %}

