{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <div class="title-search">
        <h1 class="text-center my-16">Rechercher un produit</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    {{ form_start(form) }}
                   <div class="row">
                       <div class="col-md-6">
                           {{ form_row(form.words) }}
                       </div>
                       <div class="col-md-6">
                           {{ form_row(form.category) }}
                       </div>
                   </div>
                    <div class="text-center">
                        <button class="btn-link" type="submit"><img class="contact" src="{{ asset('build/images/btn_rechercher.png') }}" alt="bouton de contact"></button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                {% include 'partials/_card.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
