{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="container">
            <h2 class="text-center">Inscription</h2>

            <div class="row">
                <div class="col-md-6 mx-auto">
                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="text-center">
                        <button class="btn-link" type="submit">
                            <img class="contact" src="/build/images/btn_inscription.png" alt="bouton d'inscription">
                        </button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>

{% endblock %}
