{% for product in products %}

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-product">
            <div class="imgBx">
                <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_card') }} "/>
            </div>
            <div class="contentBx">
                <h4>{{ product.title }}</h4>
                <h3 class="price my-4">{{ product.price }} €</h3>
                <div class="label">
                    <div class="row">
                        {% if product.bio == true %}
                            <div class="col-3">
                                <img src="{{ asset('build/images/logo-bio.jpg') }}" alt="logo agriculture bio" style="width: 100%;">
                            </div>
                        {% endif %}
                        {% if product.beef == true %}
                            <div class="col-6">
                                <img src="{{ asset('build/images/boeuf-comtois.PNG') }}" alt="logo boeuf certifié" style="width: 100%;">
                            </div>
                        {% endif %}
                        {% if product.logo == true %}
                            <div class="col-3">
                                <img src="{{ asset('build/images/exploitation.PNG') }}" alt="logo exploitation environementale" style="width: 100%;">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <a href="{{ path('app_product_show', {slug: product.slug}) }}" class="see"><img
                            src="{{ asset('build/images/btn_voir_plus.png') }}" width="150px" alt=""></a>
            </div>
        </div>
    </div>

{% endfor %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('js/addcart.js') }}"></script>