{% for product in products %}
    <div class="col mb-4">
        <div class="card" style="width: 25rem;">
            <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_card') }} "/>
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Catégorie <a href="{{ path('app_category', {slug: product.category.slug}) }}">{{ product.category }}</a></h6>
                <p class="card-text">{{ product.description | u.truncate(60, '...', false) | raw}}</p>
                <a href="{{ path('app_product_show', {slug:product.slug}) }}" class="btn btn-primary">Voir le produit</a>
                {% if app.session.get('panier')[product.id] is not defined%}
                    <a href="{{ path('app_cart_add_product', {id: product.id}) }}" class="js-addcart "><span class="btn btn-success js-disable">Ajouter au pannier</span></a>
                {% else %}
                    <a href="{{ path('app_cart') }}" class="btn btn-primary">Voir le Panier</a>
                {% endif %}

            </div>
            <div class="card-footer text-muted">
                <p>Prix : {{ product.price }}€/{{ product.units }}</p>
                <p>Stock : {{ pluralize(product.pound , product.units) }}</p>
            </div>
        </div>
    </div>
{% endfor %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('js/addcart.js') }}"></script>