<header class="flex justify-between items-center container-fluid fixed-top">
    <a href="{{ path('app_home') }}">
        <img  class="logo" src="{{ asset('build/images/logo.png') }}" alt="logo">
    </a>
    <nav>
        <ul class="nav-links">
            <li>
                <a href="{{ path('app_admin_new_product') }}">Ajouter un produit</a>
            </li>
            <li>
                <a href="{{ path('app_admin_new_categorie') }}">Ajouter une catégorie</a>
            </li>
            {% for actuality in actuality %}
            <li>
                <a href="{{ path('app_admin_edit_actuality', {id: actuality.id}) }}">Modifier l'annonce d'accueil</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ path('app_admin_new_unit') }}">Ajouter une unité</a>
            </li>
            <li>
                <a href="{{ path('app_about') }}">Ajouter un produit</a>
            </li>
            <li>
                <a href="{{ path('app_about') }}">Ajouter un produit</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="nav-links">
            <li>
                <a href="{{ path('app_cart') }}"><img src="{{ asset('') }}" alt="facebook"></a>
            </li>
            <li>
                <a href="#"><img class="facebook" src="{{ asset('build/images/facebook.png') }}" alt="facebook"></a>
            </li>
            <li>
                <a href="{{ path('app_search') }}"><img class="search" src="{{ asset('build/images/loupe.png') }}" alt="recherche"></a>
            </li>
        </ul>
    </nav>
</header>