<header class="flex justify-between items-center container-fluid fixed-top">
    <a href="{{ path('app_home') }}">
        <img  class="logo" src="{{ asset('build/images/logo.png') }}" alt="logo">
    </a>
<nav>
    <ul class="nav-links">
        <li>
            <a href="{{ path('app_about') }}"> La ferme</a>
        </li>
        <li>
            <a href="{{ path('app_product') }}">Nos Produits</a>
        </li>
        <li>
            <a href="{{ path('app_gallery') }}">Galerie</a>
        </li>
        <li>
            <a href="{{ path('app_order') }}">Commander</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}">Contact</a>
        </li>
    </ul>
</nav>
<nav>
    <ul class="nav-links">
        <li>
            <a href="{{ path('app_cart') }}"><img src="{{ asset('') }}" alt="facebook"></a>
        </li>
        <li>
            <a href="#"><img class="facebook" src="{{ asset('build/images/facebook.png') }}" alt="facebook"></a>
        </li>
        <li>
            <a href="{{ path('app_search') }}"><img class="search" src="{{ asset('build/images/loupe.png') }}" alt="recherche"></a>
        </li>
    </ul>
</nav>


</header>