{% extends 'base.html.twig' %}

{% set route = app.request.attributes.get('_route') %}

{% block title %}
    {% if route == 'app_admin_edit_product' %}
        Modifier {{ product.title }}
    {% else %}
        Nouveau Produit
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_label(form.category, 'Catégorie') }}
    {{ form_widget(form.category) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.tva) }}
    {{ form_row(form.pound) }}
    {{ form_label(form.units, 'Unité') }}
    {{ form_widget(form.units) }}
    {{ form_row(form.quantity) }}
    {{ form_widget(form.imageFile) }}
    {% if route == 'app_admin_edit_product' %}
        <img src="{{ (product.imageName ? vich_uploader_asset(product) : asset('uploads/images/Not-found.png')) | imagine_filter('squared_thumbnail_medium') }} "/>
        <button type="submit" class="btn btn-success">Modifier</button>
    {% else %}
        <button type="submit" class="btn btn-success">Crée</button>
    {% endif %}
    <a href="{{ path('app_admin') }}" class="btn btn-info">Revenir en arrière</a>
    {{ form_end(form) }}

{% endblock %}


