{% extends 'base.html.twig' %}

{% set route = app.request.attributes.get('_route') %}

{% block title %}
    {% if route == 'app_admin_edit_category' %}
        Modifier {{ category.title }}
    {% else %}
        Nouvelle Catégorie
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {% if route == 'app_admin_edit_category' %}
        <button type="submit" class="btn btn-success">Modifier</button>
    {% else %}
        <button type="submit" class="btn btn-success">Crée</button>
    {% endif %}
    <a href="{{ path('app_admin') }}" class="btn btn-info">Revenir en arrière</a>
    {{ form_end(form) }}

{% endblock %}