{% extends 'base.html.twig' %}

{% block title %}Modifier {{ product.title }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.category) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.tva) }}
    {{ form_row(form.pound) }}
    {{ form_row(form.units) }}
    {{ form_row(form.quantity) }}
    <div class="form-check form-switch">
        {{ form_row(form.active) }}
    </div>
    <button type="submit" class="btn btn-success">Modifier</button>
    <a href="{{ path('app_admin') }}" class="btn btn-info">Revenir en arrière</a>
    {{ form_end(form) }}


    {# Todo : Ajouter un bouton modifier #}
    {# Todo : Ajouter un bouton supprimer #}
    {# Todo : Ajouter un bouton revenir au tableau de bord #}
{% endblock %}


