<mjml>
    <mj-head>
        <mj-title>Hello world</mj-title>
        <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto:300,500"></mj-font>
        <mj-attributes>
            <mj-all font-family="Roboto, Helvetica, sans-serif"></mj-all>
            <mj-text font-weight="300" font-size="16px" color="#616161" line-height="24px"></mj-text>
            <mj-section padding="0px"></mj-section>
        </mj-attributes>
    </mj-head>
    <mj-body>
        <mj-section padding="20px 0">
            <mj-column width="50%">
                <mj-text align="right">Repare Online Garage by ACS Promotion 44</mj-text>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column width="100%">
                <mj-image href="{{ url('app_home') }}" src="{{ absolute_url(asset('build/images/typewriter-801921_1920.jpg')) }}"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column width="100%">
                <mj-text align="center">Vous avez reçus un nouveau message provenant du site Repare Online Garage</mj-text>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column width="45%">
                <mj-text align="center" font-weight="500" padding="0px" font-size="18px">Numéro de commande : #{{ order_id }}</mj-text>
                <mj-divider border-width="2px" border-color="#616161"></mj-divider>
                <mj-divider border-width="2px" border-color="#616161" width="45%"></mj-divider>
            </mj-column>
        </mj-section>
        <mj-section padding-top="30px">
            <mj-column width="100%">
                <mj-text>
                    <p>Message de {{ nom }} {{ prenom }}</p>
                    <p>Numéro de tel : {{ phone }}</p>
                    <p>Adresse E-mail : {{ address }}</p>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-divider border-width="1px" border-color="#E0E0E0"></mj-divider>
        <mj-section>
            <mj-column>
                <mj-text>
                    <p style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi in officiis pariatur, perspiciatis rem voluptate!</p>
                </mj-text>
                <mj-divider border-width="1px" border-color="#E0E0E0"></mj-divider>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column width="65%">
                <mj-image align="left" width="150px" href="#" src="#">Logo</mj-image>
            </mj-column>
            <mj-column width="35%">
                <mj-table>
                    <tr style="list-style: none;line-height:1">
                        <td> <a href="#">
                                <img width="25" src="#" />
                            </a> </td>
                        <td> <a href="#">
                                <img width="25" src="#" />
                            </a> </td>
                        <td> <a href="#">
                                <img width="25" src="#" />
                            </a> </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>