<mjml>
    <mj-body background-color="#ccd3e0" font-size="13px">
        <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
            <mj-column width="100%">
                <mj-image src="http://fermedesvernois.fr/build/images/logo.png" alt="logo" align="center" border="none"
                          width="200px" padding-left="0px" padding-right="0px" padding-bottom="0px"
                          padding-top="0"></mj-image>
            </mj-column>
        </mj-section>
        <mj-section background-color="#356cc7" padding-bottom="0px" padding-top="0">
            <mj-column width="100%">
                <mj-text align="center" font-size="13px" color="#ABCDEA"
                         font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px"
                         padding-bottom="18px" padding-top="28px">Bonjour
                    <p style="font-size:16px; color:white;">Vous avez un nouveau message !</p>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#356cc7" padding-bottom="5px" padding-top="0">
            <mj-column width="100%">
                <mj-divider border-color="#ffffff" border-width="2px" border-style="solid" padding-left="20px"
                            padding-right="20px" padding-bottom="0px" padding-top="0"></mj-divider>
            </mj-column>
        </mj-section>

        <mj-section background-color="#356CC7" padding-bottom="20px" padding-top="20px">
            <mj-column width="50%">
                <mj-text align="center" color="#FFF" font-size="13px" font-family="Helvetica" padding-left="25px"
                         padding-right="25px" padding-bottom="28px" padding-top="28px"><span
                            style="font-size:20px; font-weight:bold">Coordonnées client :
                    </span>
                    <br/>
                    <span style="font-size:15px">Mr/Mme {{ first_name }} {{ last_name }}
                    </span>
                    <br/>
                    <span style="font-size:15px">{{ address }}
                    </span>
                    <br/>
                    <span style="font-size:15px">{{ mail }}
                    </span>
                    <br/>
                    <span style="font-size:15px">{{ phone |phone_number_format('NATIONAL') }}
                    </span>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#356CC7" padding-bottom="20px" padding-top="20px">
            <mj-column width="100%">
                <mj-text align="center" color="#FFF" font-size="13px" font-family="Helvetica" padding-left="25px"
                         padding-right="25px" padding-bottom="28px" padding-top="28px">
                    <br/>
                    <span style="font-size:15px">{{ message }}
                    </span>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#356cc7" padding-bottom="5px" padding-top="0">
            <mj-column width="100%">
                <mj-divider border-color="#ffffff" border-width="2px" border-style="solid" padding-left="20px"
                            padding-right="20px" padding-bottom="0px" padding-top="0"></mj-divider>
                <mj-text align="center" color="#FFF" font-size="15px" font-family="Helvetica" padding-left="25px"
                         padding-right="25px" padding-bottom="20px" padding-top="20px">
                    <span style="font-size:15px">Ferme des Vernois. 2021</span>
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>